* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  line-height: 44px;
  color: #333333;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;

  height: 100%;

  overflow: auto;
}

.container-content {
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.msi {
  width: 87px;
  height: 28px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 78px;
}
.hey {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin-bottom: 43px;
}

form {
  margin: 40px 140px 0px 140px;
  font-size: 18px;
  line-height: 26px;
}

form .radios {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.joke-list {
  margin: 0px 140px 20px 140px;
  font-size: 18px;
  line-height: 26px;
}

.joke-list > div {
  width: 100%;
  background: #f8f8f8;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  position: relative;
}

.container-favourite {
  padding: 68px 40px 40px 40px;
  min-width: 480px;
  max-width: 480px;
  height: 100%;
  background: #f8f8f8;
  overflow: auto;
}

.favouriteBlock {
  padding: 40px;
  min-width: 480px;
  height: 100px;
  z-index: 9;
  position: absolute;
  right: 0px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
}

.favourite {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ababab;
  background-color: rgba(251, 250, 250, 0);
}

.favouriteButton {
  cursor: pointer;
  border-style: none none none none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-image: url(./img/fav-icon-menu.svg);
  display: none;
}

.category-wrap {
  display: none;
}

.category-wrap .categoriesjokes {
  display: inline-block;
  margin: 20px 0px;
}

.categoriesjokes label {
  border: 2px solid #f8f8f8;
  background-color: #ffffff;
  border-radius: 6px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ababab;
  padding: 6px 15px;
  margin-right: 10px;
  cursor: pointer;
  max-width: max-content;
}

.category-wrap input[type="radio"] {
  display: none;
  margin: 0px;
  padding: 0px;
}

.category-wrap input:checked + label {
  color: #333333;
  background: #f8f8f8;
}

.searchInput {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: none;
  width: 100%;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 10px;
}

input[name="radioButton"]:checked + label[for="categories"] ~ .category-wrap {
  display: block;
}

input[name="radioButtonton"]:checked + label[for="search"] ~ .searchInput {
  display: block;
}

input[type="radio"] {
  appearance: none;
  border: 2px solid #ababab;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0px 15px 0px 0px;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 2px solid #333333;
  width: 20px;
  height: 20px;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #333333;
  border-radius: 50%;
}

.activate {
  display: block;
}

.submitFrom {
  background: linear-gradient(90.55deg, #8ea7ff 0%, #7291ff 100%);
  border-radius: 10px;
  border: none;
  padding: 10px 40px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 40px;
  cursor: pointer;
}

.jokeFavourite > div {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.textP {
  padding-left: 60px;
}
.pText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.imgMessage {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
}

.img {
  width: 20px;
  height: 17px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.divLink {
  padding-left: 60px;
}
.id {
  color: #ababab;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.link {
  color: #8ea7ff;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.linkImg {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.jokeCategori {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
  background: #ffffff;
  border-radius: 6px;
  padding: 6px 20px;
  max-width: max-content;
  display: flex;
  justify-content: flex-end;
}

.hours {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #ababab;
  padding: 6px 0px 6px 60px;
  float: left;
  max-width: max-content;
  display: flex;
}

.hoursAndCategori {
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) and (max-width: 768px) {
  .container-content {
    z-index: 2;
    position: relative;
    background-color: white;
  }
  .container-favourite {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 68px 40px 40px 40px;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    overflow: auto;
    max-width: max-content;
  }
  .favourite {
    padding: 40px 40px 0px 10px;
    z-index: 3;
    background-color: rgba(251, 250, 250, 0);
    display: flex;
  }
  .favouriteButton {
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 28px;
    height: 28px;
  }
  .favouriteBlock {
    padding: 0px;
    justify-content: flex-end;
  }
  form {
    margin: 20px 20px 0px 20px;
    padding-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
  }

  .joke-list {
    margin: 0px 20px 20px 20px;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .container-content {
    z-index: 2;
    position: relative;
    background-color: white;
    width: win;
  }
  .container-favourite {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 68px 40px 40px 40px;
    width: 480px;
    height: 100%;
    background: #f8f8f8;
    overflow: auto;
  }
  .favourite {
    padding: 40px 40px 0px 10px;
    z-index: 3;
    background-color: rgba(251, 250, 250, 0);
    display: flex;
  }
  .favouriteButton {
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 28px;
    height: 28px;
  }
  .favouriteBlock {
    padding: 0px;
    justify-content: flex-end;
  }

  form {
    margin: 40px 40px 0px 40px;
    padding-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
  }

  .joke-list {
    margin: 0px 40px 20px 40px;
  }
}
